/* ------------------------- */
/*  Custom Properties        */
/*-------------------------- */
:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
}

/* ------------------------- */
/* CSS RESETS                */
/*------------------------- */

/* box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*------------------ reset margin ----------------- */
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*------------------ image default style ----------------- */
img,
picture {
  max-width: 100%;
  display: block;
}

/*------------------ make body full page ----------------- */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/*------------------ make form element easir to work with ----------------- */
input,
button,
textarea,
select {
  font: inherit;
}

/*------------------ remove animations for people who have turned them off ----------------- */
@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/*  Utility Classes          */
/*-------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  margin-inline: auto; /* This center the container */
  max-width: 80rem;
  padding-inline: 2em;
}

/* screen-read-only (sr-only) */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
