/* ------------------------- */
/* CSS RESETS                */
/*------------------------- */

/* box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*------------------ reset margin ----------------- */
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*------------------ image default style ----------------- */
img,
picture {
  max-width: 100%;
  display: block;
}

/*------------------ make body full page ----------------- */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/*------------------ make form element easir to work with ----------------- */
input,
button,
textarea,
select {
  font: inherit;
}

/*------------------ remove animations for people who have turned them off ----------------- */
@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
